@model List<AuthorDto>
@{
    if (Model.HasValue())
    {
        ViewData["Title"] = @Translator.GetByKey("Authors") + " - " + @Translator.GetByKey("ProjectName");
        ViewData["Description"] = @Translator.GetByKey("Authors");
        ViewData["Keywords"] = @Translator.GetByKey("Authors");
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@if (Model.HasValue())
{
    <section id="main">
        <div class="container">
            <!-- author list  -->
            <h1>
                @Translator.GetByKey("Authors")
            </h1>

            <div class="author-list">
                <div class="row">
                    @if (Model.HasValue())
                    {
                        foreach (var item in Model)
                        {
                            <a href="~/yazar/@item.NameSurename.ToUrlFormat()" class="col-md-3 col-6 author-box">
                                <img src="@item.PhotoFile?.FileName" style="width:200px !important; height: 200px !important; object-fit: cover !important;" class="rounded-circle" />
                                <div class="author-name">@item.NameSurename</div>
                                <div class="article-name">@item.LastArticleTitle</div>
                            </a>
                        }
                    }

                </div>

            </div>
            <!-- author list end -->
        </div>
    </section>

}