@model List<MainPageVideoNewsDto>

@if (Model.HasValue())
{
    <div class="main-page-gallery-title">
        @Translator.GetByKey("Video")
    </div>

    <a href="@Model[0].Url">
        <img src="@Model[0].VideoCoverImageUrl" alt="@Model[0].Title">
        <div class="play-button"></div>
        <div class="main-page-item-title">
            @Model[0].Title
        </div>
    </a>

    <div class="row">
        @{ int i = 0;}
        @foreach (var item in Model)
        {
            if (i > 0)
            {
                <a href="@item.Url" class="col-md-4">
                    <img src="@item.VideoCoverImageUrl" alt="@item.Title">
                    <div class="play-button-small"></div>
                    <div class="main-page-item-title small">
                        @item.Title
                    </div>
                </a>
            }
            i = i + 1;
        }

    </div>

}