<!doctype html>
<html lang="tr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Site Title- -->
    <title>@ViewBag.Title</title>
    <meta name="description" content="@ViewBag.Description">
    <meta name="keywords" content="@ViewBag.Keywords">
    <meta name="robots" content="index, follow">
    <meta name="author" content="milligazete.com.tr">
    <meta name="developer" content="logbase.com.tr">

    <link rel="shortcut icon" href="~/images/favicon.ico">
    @*<link rel="apple-touch-icon" sizes="180x180" href="~/content/images/apple-touch-icon.png">*@
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/favicon-16x16.png">

    @RenderSection("SectionTop", false)

    @*<link rel="amphtml" href="@LayoutModel.WebMobileUIUrl" />*@

    <!-- Bootstrap core CSS -->
    <link href="~/css/bootstrap.min.css" rel="stylesheet">
    <!-- Fontawesome CSS -->
    <link href="~/css/fontawesome.min.css" rel="stylesheet">
    <!-- Weathericons CSS -->
    <link href="~/css/weather-icons.min.css" rel="stylesheet">
    <!-- Swiper CSS -->
    <link href="~/css/swiper-bundle.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="~/css/custom.css" rel="stylesheet">
</head>

<body>

    <!-- Header -->
    <div class="div-logo">
        <a href="~/"><img src="~/images/logo-white.png" class="img-fluid" style="width: 30%;" alt="@Translator.GetByKey("ProjectName")" /></a>
    </div>
    <div class="info-bar">
        <div class="container visible-desktop">
            <div class="row">
                <div class="col-md-2 city-dropdown">
                    <a href="javascript:;">İSTANBUL <i class="fa fa-angle-down"></i></a>
                </div>
                <div class="col-md-2 wheather-info">
                    <i class="wi wi-day-cloudy text-bold"></i> 13 &#8451;
                </div>
                <!--<div>
                  <i class="fa fa-mosque"></i>
                </div>-->
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-3 col-6 finance-box">
                            <i class="fa fa-chart-bar"></i> BIST <i class="fa fa-sort-down text-danger"></i>
                            <div class="finance-number">1.441,33</div>
                        </div>
                        <div class="col-md-3 col-6 finance-box">
                            <i class="fa fa-dollar-sign"></i> Dolar <i class="fa fa-sort-up text-success"></i>
                            <div class="finance-number">8,4356</div>
                        </div>
                        <div class="col-md-3 col-6 finance-box">
                            <i class="fa fa-euro-sign"></i> Euro <i class="fa fa-sort-down text-danger"></i>
                            <div class="finance-number">10,2144</div>
                        </div>
                        <div class="col-md-3 col-6 finance-box">
                            <i class="fa fa-coins"></i> Altın <i class="fa fa-sort-up text-success"></i>
                            <div class="finance-number">494,587</div>
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="col-md-2 today-newspaper-box">
                    @Html.Raw(Translator.GetByKey("TodaysNewspaper"))
                    <div class="visible-desktop"></div>
                </a>
            </div>
        </div>
        <div class="container visible-mobile">
            <div class="row">
                <div class="col-4 city-dropdown" style="width: 100% !important;max-width: 100% !important;">
                    <a href="javascript:;">İSTANBUL <i class="fa fa-angle-down"></i></a>
                </div>
                <div class="col-4 wheather-info" style="background-color: #eee !important;width: 100% !important;max-width: 100% !important;text-align: center;">
                    <i class="wi wi-day-cloudy text-bold"></i> 13 &#8451;
                </div>
                <a href="javascript:;" class="col-4 today-newspaper-box" style="background-color: #e1e1e1 !important;font-size:13px !important;text-align: center;">
                    @Html.Raw(Translator.GetByKey("TodaysNewspaper"))
                </a>
            </div>
            <div class="row">
                <div class="col-3 finance-box">
                    <i class="fa fa-chart-bar"></i> BIST <i class="fa fa-sort-down text-danger"></i>
                    <div class="finance-number">1.441,33</div>
                </div>
                <div class="col-3 finance-box">
                    <i class="fa fa-dollar-sign"></i> Dolar <i class="fa fa-sort-up text-success"></i>
                    <div class="finance-number">8,4356</div>
                </div>
                <div class="col-3 finance-box">
                    <i class="fa fa-euro-sign"></i> Euro <i class="fa fa-sort-down text-danger"></i>
                    <div class="finance-number">10,2144</div>
                </div>
                <div class="col-3 finance-box">
                    <i class="fa fa-coins"></i> Altın <i class="fa fa-sort-up text-success"></i>
                    <div class="finance-number">494,587</div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-sticky bg-white ">
        <nav class="navbar navbar-expand-lg">

            <div class="container">
                <a href="~/"><img src="~/images/logo-minimal.png" alt="Milli Gazete" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"><i class="fa fa-2x fa-bars"></i></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav">
                        @foreach (var item in LayoutModel.MenuItems)
                        {
                            <li class="nav-item">
                                <a class="nav-link" href="~/@item.Url">@item.Title</a>
                            </li>
                        }
                        <li class="nav-item nav-item-menu-title text-right" style="margin-left: 30px !important;">
                            <a class="nav-link" href="#"><i class="fa fa-bars"></i> MENÜ</a>
                        </li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container" style="display:none;">
            Menü Planlama Aşamasında
            <br /><br /><br />
        </div>
    </div>

    @RenderBody()

    <footer class="footer-bs">
        <div class="container">
            <div class="row">
                <div class="col-md-3 footer-brand">
                    <img src="~/images/logo-white.png" width="200" />
                    <p><br>@Translator.GetByKey("BottomDescription")</p>
                </div>
                <div class="col-md-4 footer-nav">
                    <h4>HABERLER</h4>
                    <div class="row">
                        <div class="col-md-6">
                            <ul class="list">
                                <li><a href="#">Son Dakika</a></li>
                                <li><a href="#">Gündem</a></li>
                                <li><a href="#">Ekonomi</a></li>
                                <li><a href="#">Dünya</a></li>
                            </ul>
                        </div>
                        <div class="col-md-6">
                            <ul class="list">
                                <li><a href="#">Kadın</a></li>
                                <li><a href="#">Sağlık</a></li>
                                <li><a href="#">Magazin</a></li>
                                <li><a href="#">Teknoloji</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 footer-nav">
                    <h4>BİLGİ</h4>
                    <ul class="list">
                        <li><a href="#">Kullanım Koşulları</a></li>
                        <li><a href="#">Gizlilik Sözleşmesi</a></li>
                        <li><a href="#">Çerez Politikası</a></li>
                        <li><a href="#">Künye</a></li>
                    </ul>
                </div>
                <div class="col-md-3 footer-ns">
                    <h4>SOSYAL MEDYA</h4>
                    <p>
                        <a href="@LayoutModel.Option.Facebook" class="btn" target="_blank"><img src="~/images/icon-facebook.png" width="20"></a>
                        <a href="@LayoutModel.Option.Twitter" class="btn" target="_blank"><img src="~/images/icon-twitter.png" width="20"></i></a>
                        <a href="@LayoutModel.Option.Instagram" class="btn" target="_blank"><img src="~/images/icon-instagram.png" width="20"></a>
                        <a href="@LayoutModel.Option.Youtube" class="btn" target="_blank"><img src="~/images/icon-youtube.png" width="20"></a>
                    </p>
                    <h4>MOBİL UYGULAMA</h4>
                    <p>
                        <a href="javascript:;" target="_blank"><img src="~/images/google-play.png" style="width: 150px;margin-bottom: 5px;" /></a>
                        <a href="javascript:;" target="_blank"><img src="~/images/app-store.png" style="width: 150px;" /></a>
                    </p>
                </div>
                <div class="col-md-12">
                    <div class="copyright-text text-center">
                        <p>@Html.Raw(Translator.GetByKey("CopyRights"))</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <a id="buttonTopScroll"><img src="~/images/icon-arrow-up.png" alt="Yukarı Çık" style="width:40px;" /></a>

    <!-- Jquery JavaScript -->
    <script src="~/js/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script src="~/js/bootstrap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="~/js/custom.js"></script>

    @RenderSection("SectionBottom", false)

</body>

</html>