@model NewsDetail

<style>
    #newsCount{
        display:none;
    }

    video {
        width: 100% !important;
        height: auto !important;
    }
</style>

@if (Model != null)
{
<div class="anchor news-detail-box mt-3" url="@Model.Url">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="~/@Model.NewsCategoryList[0].Url">@Model.NewsCategoryList[0].CategoryName</a></li>
            <li class="breadcrumb-item active" aria-current="page">Sanayi kenti Kocaeli'de günde 1.521 araç üretildi</li>
        </ol>
    </nav>

    <h1>@Model.InnerTitle </h1>

    <h2>@Model.ShortDescription</h2>
    
    <div class="news-photo">
        @if (Model.NewsTypeEntityId == (int)Entity.Enums.NewsTypeEntities.VideoGallery && Model.NewsFileList.HasValue() &&
                       Model.NewsFileList.Any(x => x.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.GalleryVideo))
        {
            <video id="main-video"
                   class="video-js"
                   controls
                   preload="auto"
                   width="100"
                   height="300"
                   poster="@Model.NewsFileList.Where(x => x.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.GalleryVideo).Select(s => s.CoverFileName).FirstOrDefault()"
                   data-setup="{}">
                <source src="@Model.NewsFileList.Where(x => x.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.GalleryVideo).Select(s => s.FileName).FirstOrDefault()" type="video/mp4" />
                <p class="vjs-no-js">Tarayıcınız güncel değil</p>
            </video>
            <br />
        }
        else
        {
            <div class="post-media post-featured-image">
                <img src="@Model.NewsFileList.Where(x => x.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.MainImage).Select(s => s.FileName).FirstOrDefault()" class="img-responsive m0a" width="100%" alt="@Model.NewsFileList.Where(x => x.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.MainImage).Select(s => s.Title).FirstOrDefault()">
            </div>
        }

    </div>
    <div class="news-detail-body">
        <div class="news-share-bar">
            <div class="news-date"><span>@Model.PublishDate.Value.ToString("dd MMMM dddd yyyy") @Model.PublishTime.Value.ToString().Substring(0, 5)</span></div>
            <div class="news-buttons-wrapper clearfix">
                <a href="https://www.facebook.com/sharer/sharer.php?u=@LayoutModel.WebUIUrl@Model.Url&t=@Model.Title" class="news-button facebook" target="_blank"><img src="~/images/icon-facebook-48.png" style="width:36px !important;" /></a>
                <a href="https://twitter.com/intent/tweet?url=@LayoutModel.WebUIUrl@Model.Url&text=@Model.Title" class="news-button twitter" target="_blank"><img src="~/images/icon-twitter-48.png" style="width:36px !important;" /></a>
                <a href="https://api.whatsapp.com/send?text=@LayoutModel.WebUIUrl@Model.Url" class="news-button whatsapp" target="_blank"><img src="~/images/icon-whatsapp-48.png" style="width:36px !important;" /></a>
                <a href="javascript:;" class="news-button facebook divUser" onclick="AddOrDeleteBookmark(@Model.Id , this);" id="btnNewsBookmark_@Model.Id">
                    @if (!Model.BookMarkStatus)
                    {
                        <img src="~/images/icon-unbookmark.png" style="width:36px !important;" />
                    }
                    else
                    {
                        <img src="~/images/icon-bookmark.png" style="width: 36px !important;" />
                    }
                </a>
            </div>
        </div>

        <div class="news-container">

            <div class="news-container-text">

                @Html.Raw(Model.HtmlContent)
                @{ int galleryIndex = 1; }
                @if (Model.NewsTypeEntityId == (int)Entity.Enums.NewsTypeEntities.ImageGallery && Model.NewsFileList.HasValue())
                {
                    @foreach (var image in Model.NewsFileList.Where(f => f.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.GalleryPhoto).ToList())
                    {
                        <div id="@galleryIndex" url="@Model.Url/@galleryIndex" class="anchor" style="margin-top:20px;margin-bottom:20px;">
                            <div class="post-photo-gallery-number">
                                @galleryIndex
                            </div>
                            <a href="javascript:;" class="gallery-popup">
                                @* @image.FileName *@
                                <img class="img-fluid" src="@image.FileName" alt="@image.Title">
                            </a>
                            <h4 style="color:#000;padding:10px;">@image.Title</h4>
                            <span style="color:#646464; padding:10px;">@image.Description</span>
                            <hr>
                        </div>
                        { galleryIndex++; }
                    }
                }
                else if (Model.NewsTypeEntityId == (int)Entity.Enums.NewsTypeEntities.VideoGallery && Model.NewsFileList.HasValue())
                {
                    foreach (var video in Model.NewsFileList.Where(f => f.NewsFileTypeEntityId == (int)Entity.Enums.NewsFileTypeEntities.GalleryVideo).Skip(1).ToList())
                    {
                        <video id="my-video-@galleryIndex"
                               class="video-js"
                               controls
                               preload="auto"
                               width="640"
                               height="300"
                               poster="@video.CoverFileName"
                               data-setup="{}">
                            <source src="@video.FileName" type="video/mp4" />
                            <p class="vjs-no-js">Tarayıcınız güncel değil</p>
                        </video>
                        <br />

                        { galleryIndex++; }
                    }
                }

            </div>

        </div>
    </div>

    @* Reklam Alanı:
        <div class="news-bottom-banner"><img src="http://placehold.it/755x300" class="img-responsive m0a"></div>
    *@

    @if (Model.NewsTagList.HasValue())
    {

        <div class="div-tags">
            @foreach (var tag in Model.NewsTagList)
            {
                <a href="~/etiket/@tag.Url" class="badge badge-secondary">@tag.TagName</a>
            }
        </div>
    }

    <div class="card">
        <h5 class="card-header">@Translator.GetByKey("Comments") @if (Model.CommentList.HasValue())@Html.Raw("(" + Model.CommentList.Count + ")")</h5>

        <div class="card-body" style="font-size:14px !important;">
            <div class="comment-form mb14 clearfix">
                <div class="divNotUser">
                    <div class="pull-left mb14">@Translator.GetByKey("ForWriteComment") <a href="~/login" class="c-red">@Translator.GetByKey("UserLogin")</a> @Translator.GetByKey("YouShould").</div>
                </div>
                <div class="divUser">
                    <div class="form-group"><textarea class="form-control vresize" placeholder="Yorumunuz" id="txtComment_@Model.Id" maxlength="200"></textarea></div>
                    <button class="btn btn-primary pull-right" onclick="SaveComment(@Model.Id);">@Translator.GetByKey("Send")</button>
                </div>
            </div>


            @if (Model.CommentList.HasValue())
            {
                @await Html.PartialAsync("_NewsComment", Model.CommentList)

                @if (Model.CommentsCount > 5)
                {
                    <button class="btn btn-default btn-block" data-id="@Model.Id" data-total="@Model.CommentsCount" onclick="loadMoreComments(this)">@Translator.GetByKey("LoadMore")</button>
                }
            }
            else
            {
                <div>
                    @Translator.GetByKey("EmptyCommentList")
                </div>
            }
        </div>
    </div>
    <!-- news block end -->

    @if (Model.NewsRelatedNewsList.HasValue())
    {
        <div class="card">
            <h5 class="card-header">@Translator.GetByKey("RelatedNews")</h5>

            @foreach (var relatedNews in Model.NewsRelatedNewsList)
            {
                <a href="@relatedNews.RelatedNews.Url" class="card-body">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="" src="@relatedNews.RelatedNews.Thumbnail" alt="@relatedNews.RelatedNews.Title" />
                        </div>
                        <div class="col-md-7">
                            @relatedNews.RelatedNews.Title
                        </div>
                    </div>
                    <hr>
                </a>
            }
        </div>
    }

    <div class="news-seperator"></div>

    <!-- news block -->
    <div id="newsCount">@Model.RelatedNewsCount</div>
</div>

    @section SectionBottom{
        <script>
        UserInit();
        var rootPath = "@Url.Content("")";

        function UserInit() {
            var token = $.cookie("Token");
            if (token == "" || token == null || token == undefined) {
                $(".divUser").hide();
                $(".divNotUser").show();
            } else {
                $(".divUser").show();
                $(".divNotUser").hide();
            }
        }

        
        </script>
    }
}