@model List<MainPageSearchNewsDto>

@if (Model.HasValue())
{

    foreach (var item in Model)
    {
        <div class="card mt-2">
            <a href="@item.Url" class="card-body">
                <div class="row">
                    <div class="col-md-5">
                        <img class="img-fluid" src="@item.ImageUrl" alt="@item.Title" />
                    </div>
                    <div class="col-md-7">
                        @item.Title
                    </div>
                </div>
                <hr>
            </a>
        </div>
    }
}
else
{
    @Html.Raw(Translator.GetByKey("NoResultFound"))
}