@model TagNews
@{
    ViewData["Title"] = Html.Raw(Model.Tag) + " - " + @Translator.GetByKey("ProjectName");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">

    <div class="row mb14">
        <div class="col-sm-8">

            <div class="search-result-text">
                "<strong>@Html.Raw(Model.Tag)</strong>" @String.Format(Translator.GetByKey("TagResultText"), @Model.Data?.Count)
            </div>


            <div class="column-news-wrapper-big clearfix" id="divNews">

                @if (Model.Data.HasValue())
                {
                    foreach (var item in Model.Data)
                    {
                        <div class="card mt-2">
                            <a href="@item.Url" class="card-body">
                                <div class="row">
                                    <div class="col-md-5">
                                        <img class="img-fluid" src="@item.ImageUrl" alt="@item.Title" />
                                    </div>
                                    <div class="col-md-7">
                                        @item.Title
                                    </div>
                                </div>
                                <hr>
                            </a>
                        </div>
                    }
                }

            </div>


        </div>
        <div class="col-sm-4">
            <!--right col-->
            @* Reklam Alanları:
                <div class="mb14"><img src="http://placehold.it/300x600" class="img-responsive m0a"></div>

                <div class="mb14"><img src="http://placehold.it/300x600" class="img-responsive m0a"></div>
            *@
            <!--right col end-->
        </div>
    </div>


</div>