@model ResetPasswordDto
@{
    ViewData["Title"] = @Translator.GetByKey("login") + " - " + @Translator.GetByKey("webMainTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcump start-->
<section class="block-wrapper">
    <div class="container">
        <div class="row">

            <ul class="breadcrumb" style="width:100%;margin-top:30px;">
                <li>
                    <a href="~/">
                        <i class="fa fa-home"></i>
                        @Translator.GetByKey("newsList")
                    </a>
                </li>
                <li>
                    <a href="#">@Translator.GetByKey("forgotPassword")</a>
                </li>
            </ul>
            <!-- breadcump end-->

        </div>
    </div>
</section>
<!-- breadcump end-->
<!-- content start-->
<section class="block-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 mx-auto">
                <div class="ts-grid-box">
                    <div class="login-page">
                        <form role="form">
                            <div class="form-group">
                                <input type="hidden" class="form-control" id="txtId" value="@Model.Id">
                                <input type="hidden" class="form-control" id="txtToken" value="@Model.Token">
                                <label for="txtPassword">@Translator.GetByKey("password")</label>
                                <input type="password" class="form-control" id="txtPassword">
                            </div>
                            <div class="form-group">
                                <label for="txtPassword2">@Translator.GetByKey("repeatPassword")</label>
                                <input type="password" class="form-control" id="txtPassword2">
                            </div>
                            <button type="button" class="btn btn btn-primary" onclick="CreatePassword();">
                                @Translator.GetByKey("send")
                            </button>
                        </form>
                    </div>
                </div><!-- grid box end -->
            </div>
            <!-- col end-->

        </div>
        <!-- row end-->
    </div>
    <!-- container end-->
</section>
<!-- content end-->


@section SectionBottom{

    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/jquery.cookie.min.js"></script>

    <script>

        function CreatePassword() {
            var _id = $('#txtId').val();
            var _token = $('#txtToken').val();
            var _password = $('#txtPassword').val();
            var _password2 = $('#txtPassword2').val();

            if (_id == "" || _token == "" || _password == "" || _password2 == "") {
                return;
            }

            if (_password != _password2) {
                swal({
                    title: "@Translator.GetByKey("registerPasswordValid")",
                    text: "@Translator.GetByKey("registerPasswordValidDetail")",
                    icon: "error",
                    button: "@Translator.GetByKey("okButton")"
                });
                return;
            }

            var param = { 'Id': parseInt(_id), 'Token': _token, 'NewPassword': _password, 'ConfirmPassword': _password2 };
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/form-create-password")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        swal({
                            title: "@Translator.GetByKey("forgotPasswordSuccess")",
                            text: result.message,
                            icon: "success",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 2000
                        }).then((value) => {
                            location.href = "@Url.Content("~/login")";
                        });
                    } else {
                        swal({
                            title: "@Translator.GetByKey("registerFailed")",
                            text: result.message,
                            icon: "error",
                            button: "@Translator.GetByKey("okButton")"
                        });
                    }
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        }

    </script>
}