@{
    ViewData["Title"] = @Translator.GetByKey("login") + " - " + @Translator.GetByKey("webMainTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- breadcump start-->
<div class="container" style="margin-bottom:10px;">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default">
            <a href="~/" class="btn btn-default"><i class="fa fa-home"></i></a>
            <h1 style="margin-left:20px;font-size: 15px;padding-top:6px;">@Translator.GetByKey("login")</h1>
        </div>
    </div>
</div>
<!-- breadcump end-->
<!-- content start-->
<div class="container">
    <div class="row">
        <div class="col-lg-5 mx-auto">
            <div class="ts-grid-box">
                <div class="login-page">
                    <h3 class="log-sign-title text-center mb-25">
                        @Translator.GetByKey("notAMember")
                        <a href="javascript:;" onclick="$('#mdlRegister').modal('show');">@Translator.GetByKey("register")</a>
                    </h3>

                    <form role="form">
                        <div class="form-group">
                            <label for="inputUsernameEmail">@Translator.GetByKey("email")</label>
                            <input type="text" class="form-control" id="txtMail">
                        </div>
                        <div class="form-group">
                            <a class="pull-right" href="javascript:;" onclick="$('#mdlForgot').modal();">@Translator.GetByKey("forgotPassword")</a>
                            <label for="inputPassword">@Translator.GetByKey("password")</label>
                            <input type="password" class="form-control" id="txtPassword">
                        </div>
                        <button type="button" class="btn btn btn-primary" onclick="Login();">
                            @Translator.GetByKey("signIn")
                        </button>
                    </form>
                </div>
            </div><!-- grid box end -->
        </div>
        <!-- col end-->

    </div>
    <!-- row end-->
</div>
<!-- container end-->

<div class="modal" tabindex="-1" role="dialog" id="mdlRegister">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Translator.GetByKey("register")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="txtRegister_Name">@Translator.GetByKey("firstName")</label>
                        <input type="text" class="form-control" id="txtRegister_Name">
                    </div>
                    <div class="form-group">
                        <label for="txtRegister_Surname">@Translator.GetByKey("lastName")</label>
                        <input type="text" class="form-control" id="txtRegister_Surname">
                    </div>
                    <div class="form-group">
                        <label for="txtRegister_Mail">@Translator.GetByKey("email")</label>
                        <input type="text" class="form-control" id="txtRegister_Mail">
                    </div>
                    <div class="form-group">
                        <label for="txtRegister_Password">@Translator.GetByKey("password")</label>
                        <input type="password" class="form-control" id="txtRegister_Password">
                    </div>
                    <div class="form-group">
                        <label for="txtRegister_Password2">@Translator.GetByKey("repeatPassword")</label>
                        <input type="password" class="form-control" id="txtRegister_Password2">
                    </div>
                </form>
                <div class="alert alert-warning" role="alert" style="display:none;">

                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="Register();">@Translator.GetByKey("register")</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" tabindex="-1" role="dialog" id="mdlForgot">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Translator.GetByKey("forgotPassword")</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form role="form">
                    <div class="form-group">
                        <label for="txtForgot_Mail">@Translator.GetByKey("email")</label>
                        <input type="text" class="form-control" id="txtForgot_Mail">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="ForgotPassword();">@Translator.GetByKey("send")</button>
            </div>
        </div>
    </div>
</div>

@section SectionBottom{

    <script src="~/js/sweetalert.min.js"></script>
    <script src="~/js/jquery.cookie.min.js"></script>
    
    <script>
        jQuery.noConflict();
        //Bu kısım js dosyasına taşınabilir
        function Login() {
            var _mail = $('#txtMail').val();
            var _password = $('#txtPassword').val();

            LoginRequest(_mail, _password);
        }

        function LoginRequest(_mail, _password) {

            if (_mail == "" || _password == "") {
                swal({
                    title: "@Translator.GetByKey("loginValidForm")",
                    text: "@Translator.GetByKey("loginValidFormDetail")",
                    icon: "error",
                    button: "Tamam"
                });
                return;
            }

            var param = { 'mail': _mail, 'password': _password };
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/form-login")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                success: function (result) {
                    if (result.success) {

                        jQuery.cookie("Token", result.data.token, { expires: 999999 });
                        swal({
                            title: "@Translator.GetByKey("loginSuccess")",
                            text: "@Translator.GetByKey("loginSuccessDetail")",
                            icon: "success",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 1000
                        }).then((value) => {
                            location.href = "@Url.Content("~/profilim")";
                        });
                    } else {
                        swal({
                            title: "@Translator.GetByKey("loginFailed")",
                            text: "@Translator.GetByKey("loginFailedDetail")",
                            icon: "error",
                            button: "@Translator.GetByKey("okButton")"
                        });
                    }
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });

        }

        function Register() {
            var _name = $('#txtRegister_Name').val();
            var _surname = $('#txtRegister_Surname').val();
            var _mail = $('#txtRegister_Mail').val();
            var _password = $('#txtRegister_Password').val();
            var _password2 = $('#txtRegister_Password2').val();

            if (_name == "" || _surname == "" || _mail == "" || _password == "" || _password2 == "") {
                swal({
                    title: "@Translator.GetByKey("registerValid")",
                    text: "@Translator.GetByKey("registerValidDetail")",
                    icon: "error",
                    button: "@Translator.GetByKey("okButton")"
                });
                return;
            }

            if (_password.length<6) {
                swal({
                    title: "@Translator.GetByKey("registerValid")",
                    text: "@Translator.GetByKey("registerPasswordLengthValid")",
                    icon: "error",
                    button: "@Translator.GetByKey("okButton")"
                });
                return;
            }

            if (_password != _password2) {
                swal({
                    title: "@Translator.GetByKey("registerPasswordValid")",
                    text: "@Translator.GetByKey("registerPasswordValidDetail")",
                    icon: "error",
                    button: "@Translator.GetByKey("okButton")"
                });
                return;
            }

            var param = { 'name': _name, 'surname': _surname, 'mail': _mail, 'password': _password };
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/form-register")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                success: function (result) {
                    if (result.success) {
                        swal({
                            title: "@Translator.GetByKey("registerSuccess")",
                            text: "@Translator.GetByKey("registerSuccessDetail")",
                            icon: "success",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 1000
                        }).then((value) => {
                            LoginRequest(_mail, _password);
                        });
                    } else {
                        swal({
                            title: "@Translator.GetByKey("registerFailed")",
                            text: "@Translator.GetByKey("registerFailedDetail")",
                            icon: "error",
                            button: "@Translator.GetByKey("okButton")"
                        });
                    }
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });

        }

        function ForgotPassword() {
            var _mail = $('#txtForgot_Mail').val();

            if (_mail == "") {
                return;
            }

            var param = { 'mail': _mail };
            $.ajax({
                type: "POST",
                url: "@Url.Content("~/form-reset-password")",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                data: JSON.stringify(param),
                success: function (result) {
                    console.log(result);
                    if (result.success) {
                        swal({
                            title: "@Translator.GetByKey("forgotPasswordSuccess")",
                            text: result.message,
                            icon: "success",
                            showCancelButton: false,
                            showConfirmButton: false,
                            timer: 1000
                        }).then((value) => {
                            //
                        });
                    } else {
                        swal({
                            title: "@Translator.GetByKey("registerFailed")",
                            text: result.message,
                            icon: "error",
                            button: "@Translator.GetByKey("okButton")"
                        });
                    }
                },
                error: function (req, status, error) {
                    console.log(error);
                }
            });
        }

    </script>
}