@model List<MainHeadingDto>

<div class="container mt-3">
    <div class="col-md-12 bg-politics">
        <div class="row">
            <div class="col-md-12">
                <div class="decorated-title"><a href="~/siyaset" class="link link-white" target="_blank">@Translator.GetByKey("Politics")</a></div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container swiper-container-bottom2">
                <div class="swiper-wrapper">
                    @if (Model.HasValue())
                    {
                        @foreach (var item in Model)
                        {
                            <a href="@item.Url" class="swiper-slide politics-slider-item" target="_blank">
                                <div class="politics-slider-item-title">@item.Title</div>
                                <img src="@item.ImageUrl" alt="@item.Title" />
                            </a>
                        }
                    }
                </div>
                <div class="swiper-button-prev swiper-button-prev-bottom2"></div>
                <div class="swiper-button-next swiper-button-next-bottom2"></div>
            </div>
        </div>
    </div>
</div>