@model SearchNews
@{
    ViewData["Title"] = Html.Raw(Model.Query) + " - " + @Translator.GetByKey("webMainTitle");
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container" style="margin-bottom:10px;">
    <div class="row">
        <div class="btn-group btn-breadcrumb breadcrumb-default">
            <a href="~/" class="btn btn-default"><i class="fa fa-home"></i></a>
            <h1 style="margin-left:20px;font-size: 15px;padding-top:6px;">Arama: @Html.Raw(Model.Query)</h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="divNews">
        @await Html.PartialAsync("_SearchNews" , Model.Data) 
    </div>
</div>
@section SectionBottom{
    <script>
    var query = "@Model.Query";
    var currentPage = 2;
    var limit = parseInt("@Model.Limit");
    var totalCount = "@Model.TotalCount";
    var totalPage = Math.ceil(parseInt(totalCount) / parseInt(limit));
    var process = false;

    $(window).scroll(function () {
        if (($(window).scrollTop() + 200 >= $(document).height() - $(window).height()) &&
            !process && (currentPage <= totalPage)) {
            process = true;
            $.ajax({
                type: "GET",
                url: "haber-sayfa?query=" + query + "&page=" + currentPage,
                success: function (result) {
                    currentPage++;
                    $('#divNews').append(result);
                },
                error: function (error) {
                    console.log(error);
                }
                , complete: () => {
                    process = false;
                }
            });
        }
    });
    </script>
}
