@model ArticleDto
@{
    @if (Model != null)
    {
        ViewData["Title"] = Model?.Title + " - " + @Translator.GetByKey("article ") + " - " + @Translator.GetByKey("ProjectName");
        ViewData["Description"] = Model?.SeoDescription;
        ViewData["Keywords"] = Model?.SeoKeywords;
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
}

@section SectionTop{
    <style>
        .news-container-text img {
            max-width: 710px;
        }

        .article-detail {
            padding:20px;
        }

    </style>
}

<section id="main">
    <div class="container">

        @if (Model != null)
        {
            <div class="col-md-12 mt-3">
                <div class="row">
                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="@Model.Author?.PhotoFile?.FileName" alt="@Model.Author?.NameSurename" class="rounded-circle" width="150">
                                    <div class="mt-3">
                                        <h4>@Model.Author?.NameSurename</h4>
                                        <a href="@Model.Author?.Twitter" target="_blank"><img src="~/images/icon-twitter.png" style="width:32px;" /></a>
                                        <a href="@Model.Author?.Instagram" target="_blank"><img src="~/images/icon-instagram.png" style="width:32px;" /></a>
                                        <a href="http://@Model.Author?.Web" target="_blank"><img src="~/images/icon-website-48.png" style="width:32px;" /></a>
                                        <a href="mailto:@Model.Author?.Email" target="_blank"><img src="~/images/icon-mail-48.png" style="width:32px;" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                @Translator.GetByKey("OtherArticles")
                            </div>
                            <div class="card-body">
                                @await Component.InvokeAsync("ArticleByAuthor", new { url = @Model?.Author?.Url })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        
                        <div class="card">
                            <div class="card-header">
                                <h1 class="news-headline article-headline">@Model.Title</h1>
                                @Model.PublishDate?.ToString("dd/MM/yyyy")
                            </div>
                            <div class="article-detail">
                                @Html.Raw(Model.HtmlContent)
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card-header">
                        <b>@Translator.GetByKey("PopularArticles")</b>
                    </div>
                    <div class="row">
                        @await Component.InvokeAsync("MostViewedArticles")
                    </div>
                </div>
            </div>
        </div>
        <!-- author list  -->

    </div>

</section>