@model List<AuthorDto>

    <div class="container bg-author">
        <div class="row">
            <div class="col-md-11">
                <div class="decorated-title text-danger"><span>@Translator.GetByKey("Authors")</span></div>
            </div>
            <a href="~/yazarlar" class="col-md-1 decorated-title text-danger" target="_blank">
                @Translator.GetByKey("All")
            </a>
        </div>
        <div class="row">
            @if (Model.HasValue())
            {
                @foreach (var item in Model)
                {
                    <a href="~/yazar/@item.NameSurename.ToUrlFormat()" class="col-md-2 col-6 author-box" target="_blank">
                        <img src="@item.PhotoFile?.FileName" style="width:160px !important; height: 160px !important; object-fit: cover !important;" class="rounded-circle" />
                        <div class="author-name">@item.NameSurename</div>
                        <div class="article-name">@item.LastArticleTitle</div>
                    </a>
                }
            }
        </div>
    </div>
