@model List<MainHeadingDto>

<div class="container mt-3">
    <div class="col-md-12 bg-economy">
        <div class="row">
            <div class="col-md-12">
                <div class="decorated-title text-white"><a href="~/ekonomi" class="link link-white" target="_blank">@Translator.GetByKey("Economy")</a></div>
            </div>
        </div>
        <div class="row">
            <div class="swiper-container swiper-container-bottom">
                <div class="swiper-wrapper">

                    @if (Model.HasValue())
                    {
                        @foreach (var item in Model)
                        {
                            <a href="@item.Url" class="swiper-slide economy-slider-item" target="_blank">
                                @if (item.UseTitle)
                                {
                                    <div class="economy-slider-item-title">@item.Title</div>
                                }
                                <img src="@item.ImageUrl" alt="@item.Title" />
                            </a>
                        }
                    }

                </div>
                <div class="swiper-button-prev swiper-button-prev-bottom"></div>
                <div class="swiper-button-next swiper-button-next-bottom"></div>
            </div>
        </div>
    </div>
</div>